//@import обязательно указывается расширение .css

@import "_base";
@import "_mixins.sass";
@import "m-style";
@import "smart-grid";
@include reset();

/* Header
	======================= */
.header {

}
.topL {
	background: $color1;
	

}
.container {
	@include wrapper;

}
.topL {
	&__row {
		height: 80px;
		@include row-flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
	}

}

.topL-left__ul,
.topL-rigt__ul {
	list-style: none;
	display: flex;
	
	a {
		line-height: 80px;
		text-decoration: none;
		display: block;
		padding: 0 20px;
		color: $colorW;

		&:hover,
		&:active {
			color: $color2;
		}
	}
}

.topL-left__li {
	position: relative;
	
	&:hover {
		.dropdown-ul {
			color: red;
			opacity: 1;
			margin-top: 0;
			left: 0;
			visibility: visible;
		}
	}
}
.dropdown-ul {
	position: absolute;
	background-color: $color4;
	padding: 20px;
	width: 250px;
	opacity: 0;
	margin-left: -15px;
	transition: opacity 0.3s, margin-top 0.1s;
	margin-top: 30px;
	visibility: hidden;
	left: -10000px

	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
		@include arr(14, 7, $color4, t);
		left: 40px;
	}

	a {
		line-height: 30px;
	}
}
